{% extends "base_template.html" %}
{% import 'macros.html' as macros %}

{% block title %}token_request{% endblock %}

{% block content %}
{% set columns = ["Usuario","nº token","Estado"] %}
 

{% set menu_actions = [
    {"name": "ver", "route": 'token_request.view'},
] %}


<div class="row">

    <b>Filtrado: </b>
    <select class="form-select" style="width: 30%;" onchange="window.location.href=this.value" >
        
        <option value="{{ url_for('token_request.all') }}" {% if state == None %}selected{% endif %}>Todas</option>
        <option value="{{ url_for('token_request.all', state='PENDING_OF_ACEPTATION') }}" {% if state == 'PENDING_OF_ACEPTATION' %}selected{% endif %}>Pendiente de aceptación</option>
        <option value="{{ url_for('token_request.all', state='ACCEPTED') }}" {% if state == 'ACCEPTED' %}selected{% endif %}>Aceptados</option>
        <option value="{{ url_for('token_request.all', state='REJECTED') }}" {% if state == 'REJECTED' %}selected{% endif %}>Rechazado</option>
    
       
</select>
</div>


    {{ macros.render_table(columns, all_items, buttons, menu_actions) }}
{% endblock %}


