{% extends "base_template.html" %}

{% import 'macros.html' as macros %}

{% block title %}proposal{% endblock %}

{% block content %}
{% set columns = ["descripcion","tema","tipo de propuesta","estado","innosoft_day_id"] %}


{% set menu_actions = [
    {"name": "proposal", "route": 'proposal.all'},
] %}

<select >

    <option href="{{ url_for('proposal.proposal_filter_by_state', id=innosoft_day_id, state='PENDING_OF_ADMISION') }}" >PENDIENTE DE ADMISIÓN</option>
    <option href="{{ url_for('proposal.proposal_filter_by_state', id=innosoft_day_id, state='PENDING_OF_ACEPTATION') }}" >PENDIENTE DE ACEPTACIÓN</option>
    <option href="{{ url_for('proposal.proposal_filter_by_state', id=innosoft_day_id, state='ON_PREPARATION') }}" >EN PREPARACIÓN</option>
    <option href="{{ url_for('proposal.proposal_filter_by_state', id=innosoft_day_id,state='CONFIRMATED') }}" >CONFIRMADO</option>
    <option href="{{ url_for('proposal.proposal_filter_by_state', id=innosoft_day_id, state='REJECTED') }}" >RECHAZADO</option>
    <option href="{{ url_for('proposal.proposal_filter_by_state', id=innosoft_day_id, state='CLOSED') }}" >CERRADO</option>
    <option href="{{ url_for('proposal.proposal_filter_by_state', id=innosoft_day_id, state='CLOSED') }}" >TOKENS: {{current_user.token}}</option>
    <option href="{{ url_for('proposal.proposal_filter_by_state', id=innosoft_day_id, state='CLOSED') }}" >SOLICITAR TOKEN</option>
</select>
    


    {{ macros.render_table(columns, all_items, buttons, menu_actions) }}
{% endblock %}
