<!--begin::Footer-->
<div id="kt_app_footer"
     class="app-footer align-items-center justify-content-center justify-content-md-between flex-column flex-md-row py-3 py-lg-6">
    <!--begin::Copyright-->
    <div class="text-dark order-2 order-md-1">
        <span class="text-muted fw-semibold me-1">2023 GPLv3</span>
        <a href="https://www.evidentia.io" target="_blank" class="text-gray-800 text-hover-primary">evidentia.io</a>
    </div>
    <!--end::Copyright-->
    <!--begin::Menu-->
    <ul class="menu menu-gray-600 menu-hover-primary fw-semibold order-1">
        <li class="menu-item">
            <a href="https://www.github.com/drorganvidez/evidentia.io" target="_blank" class="menu-link px-2">Código
                fuente</a>
        </li>
    </ul>
    <!--end::Menu-->
</div>
<!--end::Footer-->